Richa Patel
Final Project - Research Report

Do the genders commit different violations?
Examining traffic violations
Comparing violations by gender
Does gender affect who gets a ticket for speeding?
Comparing speeding outcomes by gender
Does gender effect whose vehicle is searched?
Comparing search rates by gender
Does gender affect who is frisked during a search?
Comparing frisk rates by gender
Does time of day affect arrest rate?
Calculating the hourly arrest rate
Plotting the hourly arrest rate
Are drug-related stops on the rise?
Plotting drug-related stops
Comparing drug and search rates
What violations are caught in each district?
Plotting violations by district
How long might you be stopped for a violation?
Plotting stop length

In [4]:
import pandas as pd
import numpy as np
from numpy import cov
import matplotlib.pyplot as plt
import seaborn as sns  
sns.set(style="white", color_codes=True)
# read file for police and weather Data

police = pd.read_csv('police.csv')
print(police)

#we can see that we have 91741 rows and 15 columns
weather = pd.read_csv('weather.csv')
print(weather)

# [4017 rows x 27 columns]

print(police.describe())
police.info()

print(weather.describe())
weather.info()

police['district'].value_counts() #Describe the data

      state   stop_date stop_time  county_name driver_gender driver_race  \
0        RI  2005-01-04     12:55          NaN             M       White
1        RI  2005-01-23     23:15          NaN             M       White
2        RI  2005-02-17     04:15          NaN             M       White
3        RI  2005-02-20     17:15          NaN             M       White
4        RI  2005-02-24     01:20          NaN             F       White
...     ...         ...       ...          ...           ...         ...
91736    RI  2015-12-31     21:21          NaN             F       Black
91737    RI  2015-12-31     21:59          NaN             F       White
91738    RI  2015-12-31     22:04          NaN             M       White
91739    RI  2015-12-31     22:09          NaN             F    Hispanic
91740    RI  2015-12-31     22:47          NaN             M       White

                        violation_raw            violation  search_conducted  \
0      Equipment/Inspection Violation            Equipment             False
1                            Speeding             Speeding             False
2                            Speeding             Speeding             False
3                    Call for Service                Other             False
4                            Speeding             Speeding             False
...                               ...                  ...               ...
91736         Other Traffic Violation     Moving violation             False
91737                        Speeding             Speeding             False
91738         Other Traffic Violation     Moving violation             False
91739  Equipment/Inspection Violation            Equipment             False
91740          Registration Violation  Registration/plates             False

      search_type   stop_outcome is_arrested stop_duration  \
0             NaN       Citation       False      0-15 Min
1             NaN       Citation       False      0-15 Min
2             NaN       Citation       False      0-15 Min
3             NaN  Arrest Driver        True     16-30 Min
4             NaN       Citation       False      0-15 Min
...           ...            ...         ...           ...
91736         NaN       Citation       False      0-15 Min
91737         NaN       Citation       False      0-15 Min
91738         NaN       Citation       False      0-15 Min
91739         NaN        Warning       False      0-15 Min
91740         NaN       Citation       False      0-15 Min

       drugs_related_stop district
0                   False  Zone X4
1                   False  Zone K3
2                   False  Zone X4
3                   False  Zone X1
4                   False  Zone X3
...                   ...      ...
91736               False  Zone K2
91737               False  Zone K3
91738               False  Zone X3
91739               False  Zone K3
91740               False  Zone X4

[91741 rows x 15 columns]
          STATION        DATE  TAVG  TMIN  TMAX   AWND  WSF2  WT01  WT02  \
0     USW00014765  2005-01-01  44.0    35    53   8.95  25.1   1.0   NaN
1     USW00014765  2005-01-02  36.0    28    44   9.40  14.1   NaN   NaN
2     USW00014765  2005-01-03  49.0    44    53   6.93  17.0   1.0   NaN
3     USW00014765  2005-01-04  42.0    39    45   6.93  16.1   1.0   NaN
4     USW00014765  2005-01-05  36.0    28    43   7.83  17.0   1.0   NaN
...           ...         ...   ...   ...   ...    ...   ...   ...   ...
4012  USW00014765  2015-12-27  51.0    44    61   9.17  28.0   1.0   NaN
4013  USW00014765  2015-12-28  40.0    30    44  12.30  23.0   NaN   NaN
4014  USW00014765  2015-12-29  33.0    28    40  12.53  18.1   1.0   NaN
4015  USW00014765  2015-12-30  30.0    27    35   6.93  15.0   1.0   NaN
4016  USW00014765  2015-12-31  39.0    35    50   8.05  18.1   1.0   NaN

      WT03  ...  WT11  WT13  WT14  WT15  WT16  WT17  WT18  WT19  WT21  WT22
0      NaN  ...   NaN   1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1      NaN  ...   NaN   NaN   NaN   NaN   1.0   NaN   1.0   NaN   NaN   NaN
2      NaN  ...   NaN   1.0   NaN   NaN   1.0   NaN   NaN   NaN   NaN   NaN
3      NaN  ...   NaN   1.0   1.0   NaN   1.0   NaN   NaN   NaN   NaN   NaN
4      NaN  ...   NaN   1.0   NaN   NaN   1.0   NaN   1.0   NaN   NaN   NaN
...    ...  ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
4012   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4013   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4014   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4015   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4016   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[4017 rows x 27 columns]
       county_name
count          0.0
mean           NaN
std            NaN
min            NaN
25%            NaN
50%            NaN
75%            NaN
max            NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   state               91741 non-null  object
 1   stop_date           91741 non-null  object
 2   stop_time           91741 non-null  object
 3   county_name         0 non-null      float64
 4   driver_gender       86536 non-null  object
 5   driver_race         86539 non-null  object
 6   violation_raw       86539 non-null  object
 7   violation           86539 non-null  object
 8   search_conducted    91741 non-null  bool
 9   search_type         3307 non-null   object
 10  stop_outcome        86539 non-null  object
 11  is_arrested         86539 non-null  object
 12  stop_duration       86539 non-null  object
 13  drugs_related_stop  91741 non-null  bool
 14  district            91741 non-null  object
dtypes: bool(2), float64(1), object(12)
memory usage: 9.3+ MB
              TAVG         TMIN         TMAX         AWND         WSF2  \
count  1217.000000  4017.000000  4017.000000  4017.000000  4017.000000
mean     52.493016    43.484441    61.268608     8.593707    19.274782
std      17.830714    17.020298    18.199517     3.364601     5.623866
min       6.000000    -5.000000    15.000000     0.220000     4.900000
25%      39.000000    30.000000    47.000000     6.260000    15.000000
50%      54.000000    44.000000    62.000000     8.050000    17.900000
75%      68.000000    58.000000    77.000000    10.290000    21.900000
max      86.000000    77.000000   102.000000    26.840000    48.100000

         WT01   WT02   WT03   WT04   WT05  ...  WT11    WT13   WT14  WT15  \
count  1767.0  221.0  224.0  117.0  360.0  ...   1.0  1175.0  575.0   6.0
mean      1.0    1.0    1.0    1.0    1.0  ...   1.0     1.0    1.0   1.0
std       0.0    0.0    0.0    0.0    0.0  ...   NaN     0.0    0.0   0.0
min       1.0    1.0    1.0    1.0    1.0  ...   1.0     1.0    1.0   1.0
25%       1.0    1.0    1.0    1.0    1.0  ...   1.0     1.0    1.0   1.0
50%       1.0    1.0    1.0    1.0    1.0  ...   1.0     1.0    1.0   1.0
75%       1.0    1.0    1.0    1.0    1.0  ...   1.0     1.0    1.0   1.0
max       1.0    1.0    1.0    1.0    1.0  ...   1.0     1.0    1.0   1.0

         WT16  WT17   WT18  WT19  WT21  WT22
count  1326.0  12.0  345.0   4.0  18.0  32.0
mean      1.0   1.0    1.0   1.0   1.0   1.0
std       0.0   0.0    0.0   0.0   0.0   0.0
min       1.0   1.0    1.0   1.0   1.0   1.0
25%       1.0   1.0    1.0   1.0   1.0   1.0
50%       1.0   1.0    1.0   1.0   1.0   1.0
75%       1.0   1.0    1.0   1.0   1.0   1.0
max       1.0   1.0    1.0   1.0   1.0   1.0

[8 rows x 25 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4017 entries, 0 to 4016
Data columns (total 27 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATION  4017 non-null   object
 1   DATE     4017 non-null   object
 2   TAVG     1217 non-null   float64
 3   TMIN     4017 non-null   int64
 4   TMAX     4017 non-null   int64
 5   AWND     4017 non-null   float64
 6   WSF2     4017 non-null   float64
 7   WT01     1767 non-null   float64
 8   WT02     221 non-null    float64
 9   WT03     224 non-null    float64
 10  WT04     117 non-null    float64
 11  WT05     360 non-null    float64
 12  WT06     25 non-null     float64
 13  WT07     79 non-null     float64
 14  WT08     404 non-null    float64
 15  WT09     69 non-null     float64
 16  WT10     2 non-null      float64
 17  WT11     1 non-null      float64
 18  WT13     1175 non-null   float64
 19  WT14     575 non-null    float64
 20  WT15     6 non-null      float64
 21  WT16     1326 non-null   float64
 22  WT17     12 non-null     float64
 23  WT18     345 non-null    float64
 24  WT19     4 non-null      float64
 25  WT21     18 non-null     float64
 26  WT22     32 non-null     float64
dtypes: float64(23), int64(2), object(2)
memory usage: 847.5+ KB

Zone X4    24279
Zone K3    20405
Zone K2    18397
Zone X3    17013
Zone K1     8678
Zone X1     2969
Name: district, dtype: int64

# List of all county name

In [5]:
police['county_name'].value_counts()

Series([], Name: county_name, dtype: int64)

There is no any county name display heare

In [6]:
police['violation_raw'].value_counts()

Speeding                            48424
Other Traffic Violation             16224
Equipment/Inspection Violation      10922
Registration Violation               3703
Seatbelt Violation                   2856
Special Detail/Directed Patrol       2467
Call for Service                     1392
Motorist Assist/Courtesy              205
Violation of City/Town Ordinance      181
APB                                    91
Suspicious Person                      56
Warrant                                18
Name: violation_raw, dtype: int64

Top most reason for violation is Speeding and least reson is Seat Belt.

In [7]:
police['violation'].value_counts()

Speeding               48424
Moving violation       16224
Equipment              10922
Other                   4410
Registration/plates     3703
Seat belt               2856
Name: violation, dtype: int64

In [8]:
police['stop_outcome'].value_counts()

Citation            77092
Warning              5137
Arrest Driver        2735
No Action             625
N/D                   607
Arrest Passenger      343
Name: stop_outcome, dtype: int64

In [ ]:
We can see citation has high value.

In [9]:
police['driver_gender'].value_counts()

M    62762
F    23774
Name: driver_gender, dtype: int64

Male is stopped than Female.

In [10]:
police['driver_race'].value_counts()

White       61872
Black       12285
Hispanic     9727
Asian        2390
Other         265
Name: driver_race, dtype: int64

There's no bias here for pulling over non-white drivers vs white drivers but other race is less stopped by.

# Let's create function